---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import ScrollTop from '../components/ScrollTop.astro';
---

<BaseLayout title="Acerca | Omar Rodriguez" description="Acerca de Omar Rodriguez">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Acerca de mi"
				tagline="Gracias por pasar. Lea a continuación para obtener más información sobre mí y mis antecedentes."
			>
				<img
					width="1553"
					height="873"
					src="/assets/advertising-4.jpg"
					alt="Omar Rodriguez en el trabajo con un colega"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Acerca de mi</h2>
				<div class="content">
					<p>
						¡Hola! Soy Omar Rodriguez, un apasionado programador backend con un enfoque especial en desarrollar soluciones sólidas y eficientes para diversas aplicaciones. Con una sólida formación académica en análisis y desarrollo de sistemas de información y una ferviente curiosidad por explorar las últimas tecnologías, estoy comprometido a crecer y contribuir en el emocionante mundo del desarrollo de software.
					</p>
					<p>
						Mis habilidades técnicas incluyen el dominio de lenguajes como Java, JavaScript, PHP, SQL, TypeScript, framework como Spring Boot, Nestjs, React, Angular, Nodejs, Base de datos como MySQL, SQL Server, PostgreSQL, MongoDB, MariaDB, Automatización de Pruebas con Selenium, Serenity BDD, Cucumber, Gherkin, Maven, Gradle, manejo de Herramientas como Visual Studio Code, IntelliJ IDE, Eclipse, Postman, Jenkins, XAMPP, versionamiento de código con git, GitHub, gitlab, metodologías agiles, así como experiencia práctica en el diseño e implementación de sistemas basados en bases de datos, APIs y servicios web. He trabajado en proyectos que abarcan desde la optimización de rendimiento hasta la integración de sistemas complejos, lo que me ha proporcionado una comprensión integral del ciclo de vida del desarrollo de software. 
					</p>
					<p>
						Mi enfoque en el aprendizaje continuo me impulsa a mantenerme al tanto de las últimas tendencias y mejores prácticas en la industria. Estoy emocionado por colaborar con equipos talentosos, donde pueda aportar mi entusiasmo y energía, al tiempo que continúo ampliando mis habilidades y conocimientos.
					</p>
					<p>
						Siempre estoy abierto a nuevas oportunidades y a conectar con profesionales de ideas afines en el campo del desarrollo de software. ¡No dudes en contactarme para hablar sobre proyectos emocionantes o para intercambiar ideas sobre tecnología!.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Educacion</h2>
				<div class="content">
					<p>Tecnologias en Analisis y Desarrollo de Sistemas de Informacion - SENA  2020 - 2023.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Trabajo en equipo</p>
					<p>Proactivo</p>
					<p>Auto Aprendizaje</p>
					<p>Resposabilidad</p>
					<p>Desarrollo Backend</p>
					<p>Bases de datos</p>
					<p>Automatizacion de pruebas</p>
					<p>Spring Boot</p>
					<p>Nestjs</p>
					<p>React</p>
					<p>Angular</p>
					<p>Nodejs</p>
					<p>Astro</p>
					<p>HTML</p>
					<p>CSS</p>
					<p>JavaScript</p>

				</div>
			</section>
		</main>

		<ScrollTop />

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
