<button class="scroll-to-top" id="scrollToTopBtn">↑</button>

<style>
    @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

    /* Estilos para el botón */
    .scroll-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #7537da;
        color: white;
        border: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        font-size: 24px;
        cursor: pointer;
        transition:
            background-color 0.3s,
            transform 0.3s;
        opacity: 0;
        pointer-events: none;
        z-index: -1;
    }

    .scroll-to-top.show {
        opacity: 1;
        pointer-events: auto;
        z-index: 999;
    }

    .scroll-to-top:hover {
        background-color: #310366;
        transform: scale(1.2);
    }
</style>

<script>
    document.addEventListener("astro:page-load", function () {
        var scrollToTopBtn = document.getElementById("scrollToTopBtn");

        // Función para hacer scroll hacia arriba
        function scrollToTop() {
            window.scrollTo({
                top: 0,
                behavior: "smooth",
            });
        }

        // Mostrar u ocultar botón basado en la posición del scroll
        window.addEventListener("scroll", function () {
            if (window.scrollY > 150) {
                scrollToTopBtn.classList.add("show");
            } else {
                scrollToTopBtn.classList.remove("show");
            }
        });

        // Evento clic en el botón
        scrollToTopBtn.addEventListener("click", scrollToTop);
    });
</script>
