---
import { Icon } from 'astro-icon/components';
---


<a
    href="https://wa.me/573002779816?text=¡Me%20gustaría%20trabajar%20con%20tigo%20podemos%20hablar!"
    class="whatsapp-float"
    target="_blank"
>
<i class="fa-brands fa-whatsapp my-float"></i>
   
</a>

<style>
    @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

    .whatsapp-float {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
        background-color: #25d366;
        color: #fff;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 2px 2px 3px #999;
        z-index: 100;
        animation: pulse 2s infinite alternate;
    }

    .whatsapp-float:hover {
        background-color: #128c7e;
    }

    .my-float {
        margin-top: 16px;
    }

    @keyframes pulse {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(1.1);
        }
    }
</style>
